  body {
  font-family: "Inter", sans-serif;
  background-color: #222425;
  color: #ffffff;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  perspective: 1000px;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}


.header::before {
  top: -80px;
  left: -160px;
  width: 400px;
  height: 400px;
  background-image: url('img/img_ton.png');
  animation: float 8s ease-in-out infinite;
}

.header::after {
  bottom: -40px;
  right: 0px;
  width: 240px;
  height: 400px;
  background-image: url('img/img_tron.png');
  animation: float 16s ease-in-out infinite;
}

.images::before,
.images::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.images::before {
  top: 80px;
  right: 160px;
  width: 240px;
  height: 240px;
  background-image: url('img/img_sol.png');
  animation: float 4s ease-in-out infinite;
}

@keyframes rotate-back-forth {
  0% {
    transform: rotateY(0deg); 
  }

  50% {
    transform: rotateY(15deg);
  }
  100% {
    transform: rotateY(0deg); 
  }
}
.images::after {
  bottom: -40px;
  left: 80px;
  width: 320px;
  height: 320px;
  background-image: url('img/img_phone.png');
    animation: rotate-back-forth 8s ease-in-out infinite; 
}

.header__logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__logo {
  top: 0;
  margin-top: 48px;
  position: absolute;
  width: 148px;
  height: 64px;
  flex-shrink: 0;
  z-index: 2; /* Логотип должен быть выше навигации */
  animation: fadeInDown;
  animation-duration: 1s;
}

.intro {
  min-height: 100vh;
  width: 320px;
  text-align: center;
  margin: 0px auto 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: 1s;
}

.intro__title {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.navigation-wrapper {
  position: fixed;
  bottom: 48px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  gap: 32px;
  border-radius: 32px;
  background: rgba(20, 20, 20, 0.48);
  box-sizing: border-box;
  animation: fadeInUp 1s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap; 
  max-width: calc(100% - 32px); 
}

.navigation::-webkit-scrollbar {
  display: none;
}

.intro__description__1 {
  color: #ffd527;
  font-family: "Inter", sans-serif;;
  font-size: 64px;
  font-style: italic;
  font-weight: 900;
  line-height: 110%;
}

.intro__description__2 {
  margin-top: 40px;
  padding: 0px 10px 0px 10px;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@keyframes growWidth {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.intro__line {
  margin-top: 5px;
  width: 270px; 
  height: 12px;
  flex-shrink: 0;
  fill: #ffd527;
  transform-origin: left; 
  transform: scaleX(0); 
  animation: growWidth 1s ease-out forwards;
}

.navigation__link {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
  width: auto;
  display: inline-block;
}

.navigation__link:hover {
  color: #ffd527;
  text-shadow: 0px 0px 16px rgba(255, 213, 39, 0.48);
  font-weight: 900;
  line-height: 140%;
}

.section__title {
  margin: 0px auto 0;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

.section__description {
  margin: 40px auto 0;
  width: 720px;
  color: rgba(255, 255, 255, 0.92);
  font-family: "Inter", sans-serif;;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.features {
  margin: 160px;
  display: flex;
  gap: 40px;
  justify-content: center;
  max-width: 1200px;
}

.features__item__1 {
  height: auto;
  transform: rotate(-5deg);
  background: radial-gradient(93.57% 67.53% at 49.93% -5.84%,
      rgba(255, 213, 39, 0.16) 0%,
      rgba(27, 29, 30, 0) 100%),
    #1b1d1e;
}

.features__item__2 {
  transform: rotate(5deg);
  background: radial-gradient(93.57% 67.53% at 49.93% -5.84%,
      rgba(255, 143, 39, 0.16) 0%,
      rgba(27, 29, 30, 0) 100%),
    #1b1d1e;
}

.features__item__3 {
  transform: rotate(-5deg);
  background: radial-gradient(93.57% 67.53% at 49.93% -5.84%,
      rgba(212, 39, 255, 0.16) 0%,
      rgba(27, 29, 30, 0) 100%),
    #1b1d1e;
}

.features__item__4 {
  transform: rotate(-5deg);
  background: radial-gradient(93.57% 67.53% at 49.93% -5.84%,
      rgba(39, 203, 255, 0.16) 0%,
      rgba(27, 29, 30, 0) 100%),
    #1b1d1e;
}

.features__item__1,
.features__item__2,
.features__item__3,
.features__item__4 {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 24px;
}

.features__title__1 {
  color: #ffd527;
}

.features__title__2 {
  color: #ff8f27;
}

.features__title__3 {
  color: #d427ff;
}

.features__title__4 {
  color: #27cbff;
}

.features__title__1,
.features__title__2,
.features__title__3,
.features__title__4 {
  font-family: "Inter", sans-serif;;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
}

.features__description {
  color: rgba(237, 237, 237, 0.48);
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.content {
  margin: 120px auto 0;
  text-align: center;
}

.content__text {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

.content__block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
  margin-top: 40px;
}

.content__block__1,
.content__block__2 {
  display: flex;
  width: 320px;
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  position: relative;
}

.content__block__1::after,
.content__block__2::after {
  content: "";
  display: block;
  width: 240px;
  height: 240px;
  background-image: url("img/shadow_duck.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.content__image {
  width: 120px;
  height: 120px;
}

.content__title {
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  line-height: 130%;
}

.content__description {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.gallery {
  display: flex;
  padding: 48px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 32px;
  background: #1b1d1e;
}

.gallery__title {
  color: #ededee;
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.gallery__items-container {
  display: flex;
  align-items: flex-start;
  gap: 72px;
  align-self: stretch;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.gallery__image {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.gallery__caption {
  margin-top: 24px;
  align-self: stretch;
  color: rgba(237, 237, 237, 0.92);
  font-family: "Inter", sans-serif;;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}

.gallery__description {
  margin-top: 6px;
  align-self: stretch;
  color: rgba(237, 237, 237, 0.48);
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.info {
  padding: 0 72px;
}

.info__title {
  margin: 120px auto 0;
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  line-height: 135%;
}

.info__description {
  margin: 32px auto 0;
  padding: 0px 110px;
  max-width: 1024px;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

.info__blocks-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin: 120px auto 0;
  max-width: 100%;
  width: fit-content;
}

.info__block__1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  align-self: stretch;
  border-radius: 24px;
  background: #1b1d1e;
}

.info__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: 100%;
  padding: 32px 24px;
  border-radius: 24px;
  background: #1b1d1e;
  position: relative;
}

.info__image__1 {
  margin: 36px 70px 32px 70px;
  width: 180px;
  height: 180px;
  align-self: stretch;
  border-radius: 24px;
  background: #1b1d1e;
}

.info__image__2 {
  margin-top: 17px;
  margin-bottom: 49px;
  width: 180px;
  height: 180px;
}

.info__image__3 {
  width: 180px;
  height: 180px;
  position: relative;
  left: -70px;
}

.info__text__1 {
  margin: 32px 24px 0 24px;
  width: 272px;
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
}

.info__subtitle__1 {
  margin: 0px 24px 32px 24px;
  width: 272px;
  color: rgba(237, 237, 237, 0.48);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.info__text__2 {
  margin-bottom: 12px;
  align-self: stretch;
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
}

.info__subtitle__2 {
  align-self: stretch;
  color: rgba(237, 237, 237, 0.48);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.info__text__3 {
  margin-bottom: 12px;
  align-self: stretch;
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
}

.info__subtitle__3 {
  margin-bottom: 32px;
  align-self: stretch;
  color: rgba(237, 237, 237, 0.48);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.info__text {
  width: 272px;
  color: #ffd527;
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: 140%;
}

.info__subtitle {
  width: 272px;
  color: rgba(237, 237, 237, 0.48);
  text-align: center;
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.button {
  margin: 120px auto;
  margin-bottom: 200px;
  display: flex;
  padding: 48px 48px 48px 56px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 100px;
  background: rgba(20, 20, 20, 0.48);
  width: fit-content;

}

.button__text__1 {
  color: #ffd527;
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  line-height: 130%;
}

.button:hover {
  color: #ffd527;
  background: #161616;
  text-shadow: 0px 0px 24px rgba(255, 213, 39, 0.48);
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-weight: 900;
  line-height: 130%;
}


@media (max-width: 1200px) {

  .header__logo {
    margin-top: 48px;
  }

.header::before {
  top: -40px;
  left: -80px;
  width: 240px;
  height: 240px;
  background-image: url('img/img_ton.png');
  animation: float 8s ease-in-out infinite;
}

.header::after {
  bottom: -80px;
  right: 0px;
  width: 144px;
  height: 240px;
  background-image: url('img/img_tron.png');
  animation: float 16s ease-in-out infinite;
}

.images::before {
  top: 120px;
  right: 40px;
  width: 160px;
  height: 160px;
  background-image: url('img/img_sol.png');
  animation: float 4s ease-in-out infinite;
}
.images::after {
  bottom: 120px;
  left: -40px;
  width: 240px;
  height: 240px;
  background-image: url('img/img_phone.png');
  animation: rotate-back-forth 8s ease-in-out infinite; 
}

  .intro {
    margin: 0px auto 0;
    width: 100%;
    max-width: 320px;
  }
  .section__title {
    margin: 0px auto 0;
    font-size: 32px;
    line-height: 130%;
  }

  .section__description {
    margin: 32px auto 0;
    width: 624px;
    font-size: 16px;
  }

  .features {
    margin: 64px 64px 0px 64px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .features__item__1 {
    transform: rotate(0deg);
  }

  .features__item__2 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__3 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__4 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__1,
  .features__item__2,
  .features__item__3,
  .features__item__4 {
    max-width: 100%;
  }

  .features__description {
    align-self: stretch;
  }

  .content {
    margin: 64px auto 0;
  }

  .content__text {
    font-size: 32px;
  }

  .content__block {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
  }

  .content__block__1,
  .content__block__2 {
    margin: 0;
    width: 320px;
    padding: 48px 32px;
    gap: 12px;
  }

  .content__block__1::after,
  .content__block__2::after {
    top: -25px;
    z-index: -1;
  }

  .content__image {
    width: 120px;
    height: 120px;
    position: relative;
  }

  .content__title {
    align-self: stretch;
    font-size: 24px;
  }

  .content__description {
    align-self: stretch;
    font-size: 16px;
  }

  .gallery {
    margin: 32px auto 0;
    padding: 48px 64px;
    gap: 48px;
    flex-direction: column;
  }

  .gallery__title {
    align-self: stretch;
    color: #ededee;
    text-align: center;
  }

  .gallery__items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    justify-items: center;
  }

  .gallery__item {
    box-sizing: border-box;
  }

  .gallery__image {
    display: flex;
    padding: 0px;
    gap: 10px;
  }

  .gallery__caption {
    align-self: stretch;
  }

  .gallery__description {
    align-self: stretch;
  }

  .info {
    margin: 64px auto 0;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info__title {
    margin: 0 auto;
    font-size: 24px;
    line-height: 130%;
  }

  .info__description {
    padding: 0px 8px;
    margin: 24px 64px auto 64px;
    width: 100%;
    padding: 0 64px;
    max-width: 100%;
    font-family: "Inter", sans-serif;;
    font-size: 32px;
    line-height: 130%;
  }

  .info__blocks-container {

    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 64px auto 0px;
    width: 100%;
  }

  .info__block__1 {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 32px 160px;
    position: relative;
    margin-bottom: 0px;
  }

  .info__block {
    justify-content: center;
    width: 100%;
    padding: 32px 160px;
    margin: 0 auto 0px auto;

  }

  .info__image__1 {
    margin: 32px auto;
  }

  .info__image__2 {
    margin: 0px auto;
    border-radius: 24px;
  }

  .info__image__3 {
    margin: 0;
    align-self: flex-start;
    left: -175px;
  }

  .info__text__1 {
    margin: 0 auto;
    width: fit-content;
  }

  .info__text__2 {
    margin: 32px 0px 0px 0px;
  }

  .info__text__3 {
    margin: 0px 0px 0px 0px;
  }

  .info__subtitle__1 {
    margin: 0px 32px 0px 32px;
    width: 480px;
  }

  .info__subtitle__2 {
    margin: 12px auto;
    width: 480px;
  }

  .info__subtitle__3 {
    margin: 12px auto;
    width: 480px;
  }

  .button {
    margin: 64px auto;
    margin-bottom: 160px;
    padding: 32px 48px 32px 56px;
    align-self: stretch;
  }

  .button__text__1 {
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 768px) {

  .header, .intro {
    padding-bottom: env(safe-area-inset-bottom); 
    box-sizing: border-box;
  }


  .header__logo {
    margin-top: 32px;
  }


.header::before {
    left: -80px;
    bottom: -24px;
  width: 200px;
  height: 200px;
  background-image: url('img/img_ton.png');
  animation: float 8s ease-in-out infinite;
}

.header::after {
  right: 0;
  bottom: -80px;
  width: 120px;
  height: 200px;
  background-image: url('img/img_tron.png');
  animation: float 16s ease-in-out infinite;
}

.images::before {
    top: 120px;
    right: 0;
  width: 72px;
  height: 120px;
  background-image: url('img/img_sol-mobile.png');
  animation: float 4s ease-in-out infinite;
}
.images::after {
   bottom: 32px;
    left: -60px;
  width: 200px;
  height: 200px;
  background-image: url('img/img_phone.png');
  animation: rotate-back-forth 8s ease-in-out infinite; 
}

  .intro {
    margin: 0px auto 0;
    width: 100%;
    max-width: 320px;
  }

  .intro__title {
    font-size: 48px;
    margin-top: 8px;
  }

  .intro__description__1 {
    font-size: 48px;
  }

  .intro__description__2 {
    margin: 32px auto 0px;
    width: 260px;
    font-size: 16px;
  }

  .intro__line {
    margin-top: 3px;
    width: 203px;
    height: 8px;
  }


 .navigation-wrapper {
      position: fixed;
      bottom: 16px;
    }
    .navigation {
      padding: 12px 24px;
      gap: 24px;
    }

  .navigation__link {
    font-size: 14px;
    width: auto;
  }

  .section__title {
    margin: 0px auto 0;
    font-size: 32px;
    line-height: 130%;
  }

  .section__description {
    margin: 32px 40px 0px;
    width: auto;
    font-size: 16px;
  }

  .features {
    margin: 64px 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .features__item__1 {
    height: auto;
    transform: rotate(0deg);
  }

  .features__item__2 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__3 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__4 {
    transform: rotate(0deg);
    margin-top: -15px;
  }

  .features__item__1,
  .features__item__2,
  .features__item__3,
  .features__item__4 {
    width: auto;
  }

  .features__description {
    align-self: stretch;
  }

  .content {
    margin: 64px auto 0;
  }

  .content__text {
    font-size: 32px;
  }

  .content__block {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
  }

  .content__block__1,
  .content__block__2 {
    margin: auto;
    width: 100%;
    padding: 16px 32px;
    gap: 12px;
  }

  .content__block__1::after,
  .content__block__2::after {
    top: -25px;
    z-index: -1;
  }

  .content__image {
    width: 120px;
    height: 120px;
    position: relative;
  }

  .content__title {
    align-self: stretch;
    font-size: 24px;
  }

  .content__description {
    align-self: stretch;
    font-size: 16px;
  }

  .gallery {
    padding: 32px 32px;
    gap: 48px;
    flex-direction: column;
    margin: 48px auto 0px;
  }

  .gallery__title {
    align-self: stretch;
    color: #ededee;
    text-align: center;
  }

  .gallery__items-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;
  }

  .gallery__item {
    box-sizing: border-box;

  }

  .gallery__image {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    gap: 10px;
  }

  .gallery__caption {
    text-align: center;
    align-self: stretch;
    width: auto;
    margin-top: 16px;
  }

  .gallery__description {
    align-self: stretch;
    text-align: center;
    width: auto;
    margin-top: 0;
  }

  .info {
    margin: 64px auto 0;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info__title {
    margin: 0 auto;
    font-size: 24px;
    line-height: 130%;
  }

  .info__description {
    padding: 0px 32px;
    margin: 24px auto 0;
    max-width: 100%;
    font-family: "Inter", sans-serif;;
    font-size: 32px;
    line-height: 130%;
  }

  .info__blocks-container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 64px auto 0px;
    width: 100%;
  }

  .info__block__1 {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 32px 32px;
    position: relative;
    margin-bottom: 0px;
  }

  .info__block {
    justify-content: center;
    width: 100%;
    padding: 32px 32px;
    margin: 0 auto 0px auto;
  }

  .info__image__1 {
    margin: 32px auto;
  }

  .info__image__2 {
    margin: 0px auto;
    border-radius: 24px;
  }

  .info__image__3 {
    margin: 0;
    align-self: flex-start;
    left: -35px;
  }

  .info__text__1 {
    margin: 0 auto;
    width: fit-content;
  }

  .info__text__2 {
    margin: 32px 0px 0px 0px;
  }

  .info__text__3 {
    margin: 0px 0px 0px 0px;
  }

  .info__subtitle__1 {
    margin: 0px 32px 0px 32px;
    width: 100%;
  }

  .info__subtitle__2 {
    margin: 12px 0px 0px 0px;
    width: auto;
  }

  .info__subtitle__3 {
    margin: 12px 0px 32px 0px;
    width: auto;
  }

  .button {
    padding: 32px 48px 32px 56px;
    align-self: stretch;
    margin: 64px auto;
    margin-bottom: 100px;
  }

  .button__text__1 {
    text-align: center;
    font-size: 24px;
  }
}